:root {
    --pixel-size: 16;
 }
 
 body {
    background: #96ffc1;
 }
 
 .Character {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  
  .Character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(360px * var(--pixel-size));
    position: absolute;
  }
 
 .pixelart {
    image-rendering: pixelated;
 }
 
 /* .face-right {
    top: calc(-32px * var(--pixel-size));
    display: block;
  }
  
  .face-up {
    top: calc(-64px * var(--pixel-size));
    display: none;
  }
  
  .face-left {
    top: calc(-96px * var(--pixel-size));
    display: none;
  }
 
  */
 @keyframes moveSpritesheet {
    from {
       transform: translate3d(0px,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }
 